<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <bean id="point0" class="org.Nitin.java.spring.Point" scope="prototype">
        <property name="x" value="${point0.pointX}" />
        <property name="y" value="${point0.pointY}" />
    </bean>
    <bean id="point1" class="org.Nitin.java.spring.Point" name="point1-name">
        <property name="x" value="20" />
        <property name="y" value="0" />
    </bean>
   	<bean id="point2" class="org.Nitin.java.spring.Point">
    	<property name="x" value="0" />
    	<property name="y" value="20" />
	</bean>           		

    
    
    <bean id="pointA" class="org.Nitin.java.spring.Point">
        <property name="x" value="0" />
        <property name="y" value="0" />
    </bean>
    <bean id="pointB" class="org.Nitin.java.spring.Point" scope="prototype">
        <property name="x" value="10" />
        <property name="y" value="0" />
    </bean>
   	<bean id="pointC" class="org.Nitin.java.spring.Point">
    	<property name="x" value="0" />
    	<property name="y" value="10" />
	</bean>   	
    
    <bean id="triangleBean" class="org.Nitin.java.spring.Triangle">
        <property name="type" value="Equilateral" />
        <constructor-arg index="1" value="20" />
        <constructor-arg index="0" value="construtEquilatoral" />
        <property name="pointA" ref="point0" />
        <property name="pointB" >
        	<ref bean="point1-name" />
        </property>
        <property name="pointC">
        	<bean class="org.Nitin.java.spring.Point">
	        	<property name="x" value="0" />
	        	<property name="y" value="30" />
	    	</bean>        
        </property>
        
        <property name="points">
            <list>
                <ref bean="point0" />
                <ref bean="point1" />
                <ref bean="point2" />
            </list>
        </property>
    </bean> 

    <bean id="triangleBean-autowire" class="org.Nitin.java.spring.Triangle" autowire="byName" >
        <property name="points">
            <list>
               <!-- <ref bean="point0" />    --> 
                <ref bean="point1" />
                <ref bean="point2" />
            </list>
        </property>       
    </bean>
    
    <bean id="triangleBean1" class="org.Nitin.java.spring.Triangle" parent="triangleBean"></bean>
    <bean id="triangleBean-autowire2" class="org.Nitin.java.spring.Triangle" parent="triangleBean-autowire">
        <property name="points">
	        <list merge="true">
	            <ref bean="point0" />
	        </list>
        </property>
    </bean>    
    <bean id="triangleBean-autowire1" class="org.Nitin.java.spring.Triangle" autowire="byName" parent="triangleBean-autowire">    </bean>
    
    <bean id="circleBean" class="org.Nitin.java.spring.Circle" >
    	<property name="center" ref="pointA" />
    </bean>
    
    <!-- First Change - 20/12/2015 - Starts -->
    <bean class="org.Nitin.java.spring.DisplayNameBeanPostProcessor" />
    <bean class="org.Nitin.java.spring.MyBeanFactoryPostProcessor" />
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="locations" value="pointsconfig.properties" />
    </bean>
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />
    <!-- First Change - 20/12/2015 - Ends -->
    
</beans>